
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container for the form */
.form-container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    text-align: center;
    margin: 20px;
}

/* Title of the form */
.form-container h1, .form-container h2 {
    margin: 0 0 20px;
    color: #333;
}

/* Form elements */
form {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

/* Label styles */
label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

/* Input fields */
input[type="text"], select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width: 100%; /* Full width */
}

/* Submit button */
button[type="submit"] {
    background-color: #45a049;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%; /* Full width */
}

button[type="submit"]:hover {
    background-color: #388e3c;
}

/* Results List */
ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

ul li:last-child {
    border-bottom: none;
}

/* Back to Index button */
a.return-button {
    display: inline-block;
    background-color: #6c757d;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
}

a.return-button:hover {
    background-color: #5a6268;
}
h2 {
    color: #4CAF50;
    margin-top: 20px; 
    text-align: center; 
}
