 
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px;
}

.form-container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

h2 {
    color: #7b7b7b;
}

.message {
    color: #007bff;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="number"],
input[type="date"] {
    width: calc(100% - 22px); 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="submit"]:active {
    background-color: #004085;
}

/* Popup Message Styles */
#popup-message {
    display: none;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 4px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

/* Button Container */
.button-container {
    margin-top: 20px;
}

.return-button,
.action-button {
    display: inline-block;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin: 10px;
}

.return-button:hover,
.action-button:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.return-button:active,
.action-button:active {
    background-color: #004085;
}

.options {
    margin-top: 20px;
    text-align: center; 
}

.options a {
    display: block; 
    text-decoration: none;
    background-color: #007bff; 
    color: white; 
    padding: 10px 15px; 
    border-radius: 4px; 
    width: 200px; 
    margin: 10px auto; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

.options a:hover {
    background-color: #0056b3; 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
}

.options a:active {
    background-color: #004085; 
}
